* {
	padding: 0;
	margin: 0;
}

body {
	color: #333;
	font-family: Verdana, Arial, Monospace;
	font-size: 11px;
}

#wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#header {
	position: relative;
	width: 100%;
	height: 100px;
	background: #333;
}

#main {
	position:relative;
	width: 778px;
	margin: 0 auto;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#content {
	position: relative;
	float: left;
	width: 500px;
	margin-right: 20px;
	padding-left: 5px;
	border-right: 1px solid #ccc;
	padding-top: 10px;
}

#sidebar {
	position: relative;
	float: left;
	width: 238px;
	padding-left: 6px;
}

#footer {
	position: relative;
	width: 100%;
	background: #333;
	height: 70px;
	margin-top: 20px;
	text-align: center;
}

/* yang berhubungan dengan div id => content */
#content h1 {
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
	font-size: 24px;
	margin-bottom: 8px;
}

#content form.b21 label {
	font-size: 18px;
	display: block;
}

#content form.b21 input.text {
	font-size: 24px;
	border: 1px solid #ccc;
	margin-bottom: 4px;
}

#content form.b21 input.button {
	font-size: 18px;
	padding: 2px 18px;
}

/*
 * Class-class pembantu
 */
.clear { clear: both; }
.lef { text-align: left; }
.mid { text-align: center; }
.rig { text-align: right; }

/* Flash Message */
.flash {
	position: relative;
	width: 96%;
	padding: 6px;
	border: 1px solid #ccc;
	background: #f1f1f1;
	margin: 8px 0;
}

.flash-warning {
	border: 1px solid orange;
	background: #FFFFB9;
}

.flash-error {
	border: 1px solid #c60000;
	background: #FFC0CB;
}
